.ik-environment-banner {
  width: 100%;
  height: auto;
  padding: 4px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  &.LOCAL {
    background-color: #529bf5;
  }

  &.DEVELOPMENT {
    background-color: #51A351;
  }

  &.TEST {
    background-color: #D6C19B;
  }
}

.environment-banner-content {
  float:right;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}