:host {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  color: #000;
  pointer-events: all;
  background-color: transparent;
  cursor: pointer;
}

::ng-deep .toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
}
::ng-deep .toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-close-button {
  color: #999;
  opacity: 1;
}

.toast-close-button:hover {
  color: #02ceff;
}

::ng-deep .toast-error,
::ng-deep .toast-info,
::ng-deep .toast-warning,
::ng-deep .toast-success {
  background-image: none;
}

.toaster {
  display: flex;
  align-items: center;
  color: white;
  background-color: #333333;
  width: 335px;
  min-height: 80px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
  margin: 5px 5px 5px 0;
  padding: 10px;
}

.toaster .toast-icon {
  border-radius: 8px;
}

.toast-icon {
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom,#1e90ff 12%,#3399ff 73%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.toast-icon i {
  font-size:24px;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-40%, -50%);
}

.toast-title {
  font-size: 16px;
}

.toast-message {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.toast-details {
  margin: 0 10px 0 20px;
  display: flex;
  align-items: center;
  width: 235px;
}

.close-icon {
  position: relative;
}
.close-icon .toast-close-button {
  position: absolute;
  top: 15%;
  color: white;
  font-size: 25px;
  font-weight: 100;
}